body{
    margin: 0;

}

.margin-5{
    margin-top:5vh;
}

.text-center{
    text-align: center;
}

label{
    font-size: 2.5rem;
}
select{
    font-size: 1.5rem;
}


button{
    background-color: #261d47;
    color: #fafafa;
    font-size: 1.5rem;
    border-radius: 25px;
    padding: 10px 20px;
}

button:hover{
    background-color: #fafafa;
    color: #261d47;
    border: #261d47 solid;
    cursor: pointer;
}

#city-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#image{
    width: 50%;
}

#info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}


/* mobiles*/
@media (max-width: 768px) {

    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    /* Contenedor principal */
    #city-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }

    /* Imagen */
    #image img {
        width: 100%;
        height: auto;
    }

    /* Formulario */
    #city-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #city-form div {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
    }

    select,
    input {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
    }

    /* Botón */
    button {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }
}